.photo-card {
    background-color: #1d3e81;
    color: #E8EFF0;
    padding: 0.5rem 2rem 1.5rem 2rem;
    border-radius: 2rem;
    margin: 0 0 10px 0;
    text-align: center;
}

.photo-card a {
    color: #E8EFF0;
}
.photo-card img {
    width: 100%;
}

.photo-card p {
    text-align: justify;
}

.photo-card .content {
    display: block;
    text-align: center;
}

/* ---------- */
@media screen and (min-width: 600px) and (max-width: 899px) {
    .photo-card .content {
        display: flex;
        gap: 15px;
    }
    .photo-card h3, .photo-card a {
        display: flex;
    }
    .photo-card a {
        padding-top: 15px;
    }
}

@media screen and (min-width: 900px) and (max-width: 1199px) {
    .photo-card {
        width: 45%;
    }
    .photo-wrapper {
        display: flex;
        gap: 5px;
    }
}

@media screen and (min-width: 1200px) {
    .photo-card {
        width: 45%;
    }
    .photo-wrapper {
        display: flex;
        gap: 5px;
    }
    .photo-card .content {
        display: flex;
        gap: 15px;
    }
    .photo-card h3, .photo-card a {
        display: flex;
    }
    .photo-card a {
        padding-top: 15px;
    }
}

@media print {
    .photo-card .content {
        display: flex;
        gap: 15px;
    }
    .photo-card h3, .photo-card a {
        display: flex;
    }
    .photo-card a {
        padding-top: 15px;
    }
    .photo-card {
        page-break-before: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
        page-break-after: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
        page-break-inside: avoid; /* or 'auto' */
    }
}
